.Signup {
    background-color: white;
    padding: 25px;
    width: auto;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* Makes inputs vertical */
    gap: 12px;
    margin: auto;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-message {
    color: green;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    animation: fadeIn 0.3s ease-in;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;


}

button:hover {
    background-color: #0056b3;
}

.authflip {
    margin-top: 10px;
    color: Blue;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.error-message {
    background-color: #f44336;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    animation: fadeIn 0.3s ease-in;
}

.success-message {
    color: green;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}